
html{
	--page-background-color: #181425 !important; 
	--page-foreground-color: #c5e3e5 !important; 
	--side-nav-background:  #262b44 !important;
	--fragment-background:  #1f262b  !important;
	--seperator-color: #3b5155 !important;
	--primary-color: #66b8f8 !important;
}

img{
	background-color: #fff !important;
}
